@mixin button-lines-meeting($default, $hover, $border-width)
{
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 $border-width $default, 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	position: relative;

	&::before, &::after
	{
		border: $border-width solid transparent;
		box-sizing: border-box;
		content: '';
		height: 0;
		position: absolute;
		width: 0;
	}

	&::before
	{
		left: 0;
		top: 0;
	}

	&::after
	{
		bottom: 0;
		right: 0;
	}

	&:hover
	{
		&::before, &::after
		{
			height: 100%;
			width: 100%;
		}

		&::before
		{
			border-right-color: $hover;
			border-top-color: $hover;
			transition: width 0.1s, height 0.1s 0.1s;
		}

		&::after
		{
			border-bottom-color: $hover;
			border-left-color: $hover;
			transition: border-color 0s 0.1s, width 0.1s, height 0.2s 0.1s;
		}
	}

	a
	{
		height: 100%;
		width: 100%;
		z-index: $z_button;
	}
}

@mixin button-base($background, $background-hover, $foreground, $foreground-hover)
{
    @include shadow(1);
	background: $background;
	border: none;
	color: $foreground;
	cursor: pointer;
	font: $s_paragraph $font_paragraph;
	-webkit-font-smoothing: antialiased;
	line-height: scale(-1);
	margin: scale(-1) * 2rem 0;
	padding: 1rem (1.333 * 1rem);
	text-align: center;
	transition: all 0.3s;

	&:visited
	{
		color: $foreground;
	}

	&:hover
	{
        background: $background-hover;
        color: $foreground-hover;
	}

	&:active
	{
		@include shadow(1);
		transform: translateY(1px);
	}
}

@mixin comment-button
{
	@include shadow(1);
	background: $c_tertiary_light;
	border: none;
	color: $c_background;
	cursor: pointer;
	font: $s_paragraph $font_paragraph;
	-webkit-font-smoothing: antialiased;
	line-height: scale(-1);
	margin: scale(-1) * 2rem 0;
	padding: 1rem (1.333 * 1rem);
	text-align: center;
	transition: all 0.3s;

	&::after
	{
		background-image: url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$c_background}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>');
		background-repeat: no-repeat;
		background-size: scale(0) * 1rem;
		content: '';
		display: none;
		display: inline-block;
		height: scale(0) * 1rem;
		margin-left: 5px;
		position: relative;
		top: 3px;
		transition: all 0.3s;
		width: scale(0) * 1rem;
	}

	&:visited
	{
		color: $c_background;
	}

	&:hover
	{
		background: $c_secondary;

		&::after
		{
			background-image: url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$c_background}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>');
		}
	}

	&:active
	{
		@include shadow(1);
		transform: translateY(1px);
	}
}

.toggle
{
	background: none;
	border: none;
	color: $c_background;
	cursor: pointer;
	font-size: 1em;
	height: scale(2) * 1em;
	line-height: 1;
	padding: 0;
	width: scale(2) * 1em;
}

.toggle__icon
{
	height: 100%;
	width: 100%;
}

.toggle__switch
{
	transition: transform .2s;
}

// Accessible button labels
.button__label
{
    font-size: 0;
}